*{
    padding: 0;
    margin: 0;
}
.crew-bg{
    padding: 0;
    margin: 0;
    background-image: url('../../../images/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
 
}
.crew-main{
    display: flex;

}
.crew-left{
    flex: 1;
    margin-left: 6rem;

}
.crew-left h3 span{
    color: gray;
}
.crew-left h3{
    margin: 3.5rem 0 3rem 0;
    letter-spacing: 2px;
}
.crew-left h2{
    color: gray;
}
.crew-left h1{
    margin-bottom: 2rem;
    font-size: 3.6rem;
}
.crew-left p{
    padding-right:15rem ;
    line-height: 25px;
}
.crew-btn{
    margin: 2rem 0 0 0;

}
.crew-btn button{
    border: 6px solid white;
    border-radius: 50%;
    background-color: gray;
    margin-right: 1rem;
}
.crew-btn button:focus{
    padding-bottom: 0;
}
.crew-right{
    height: 85vh;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
}
.crew-right img{
    width: 27rem;
    height: 27rem;
}
@media screen and (max-width:1316px) {
    .crew-left p{
        padding-right: 10rem;
       }
}

@media screen and (max-width:1246px) {
    .crew-right{
        flex: 0.7;
    }

    
}

@media screen and (max-width:1246px) {
  .crew-right{
    flex: 0.8;
  }
}
@media screen and (max-width:1116px) {
   .crew-right{
    flex: 0.9;
   }
  .crew-left h1{
    font-size: 3rem;
   }
   .crew-left p{
    padding-right: 2rem;
   }
  
}
@media screen and (max-width:998px) {
    .crew-right img {
        width: 22rem;
        height: 22rem;
    }
    h2{
        font-size: 1.3rem;
    }
    .crew-left h1 {
        margin-bottom: 1rem;
        font-size: 2.6rem;
    }
    .crew-left h3 {
        letter-spacing: 1px;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width:870px) {
    .crew-left h1 {
        font-size: 2rem;
    }
}


@media screen and (max-width:800px) {
    .crew-bg{
        position: absolute;
        z-index: -99;
        overflow-y: scroll;
    }
    .crew-main{
        
        position: absolute;
        top: 6rem;
        z-index: -1;
        height: 120vh;
        flex-direction: column-reverse;
        align-items: center;
    }
   .crew-left{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
   }
   .crew-right{
    align-items: center;
   }
   .crew-left h3 {
    margin-bottom: 1rem;
}
.crew-left h1 {
    margin-bottom: -3rem;
    font-size: 2.6rem;
}
.crew-left p{
    padding: 0 4rem;
}

}
@media screen and (max-width:492px) {
   .crew-main{
    height: 130vh;
   }
   .crew-left p{
    padding: 0 2rem;
}

}
@media screen and (max-width:442px) {
    .crew-left h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width:362px) {
    .crew-main{
        height: 140vh;
       }
       .crew-right img {
        width: 18rem;
        height: 18rem;
    } 
}